/* your styles will go here!! */

footer{
    background-color: #FFE9D9;
    font-family: "Raleway", sans-serif;
    color: #D8392F;
    margin: 0%;
    padding-bottom: 50px;
    padding-top: 50px;
}

h1{
    color: #FFE9D9;
    font-family: "Elsie", serif;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    font-size: 145px;
    padding: 0%;
    margin-bottom: 0%;
    margin-top: 200px;
}

h2{
    color: #FFE9D9;
    font-family: "Elsie", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    text-transform: none;
}

body{
    color: #FFE9D9;
    font-family: "Raleway", sans-serif;
    background-color: #D8392F;
    text-transform: uppercase;
    margin: 0%;
    text-align: center;
}

#featuredWork{
    background-color: #FFE9D9;
    padding: 45px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.featuredIMG{
    height: 800px;
    border: 30px solid #FFE9D9;
}
.profile{
    height: 650px;
    margin-top: 120px;
    border-top:#FFE9D9 25px solid;
    border-bottom:#FFE9D9 85px solid;
    border-left:#FFE9D9 25px solid;
    border-right:#FFE9D9 25px solid;
}
.profile:hover{
    transform: rotate(8deg);
  }

p{
    font-size: 18px;
    margin-bottom: 200px;
    margin-top: 0%;
}

a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}
#Publish1FAIpQLSe9dssDNsiaOXK1BNuvZeFe6xxyCh2tlQw6nSA5-xKSsKoKtg {
    background: transparent !important;
}       

a.ff-powered-img img, img.ff-banner-image.ff-image {
    visibility: hidden;
    display: none;;
}

.ff-title {
    text-transform: uppercase;
    color: #D8392F !important;
}

#ff-compose {
    --ff-paragraph-font:  "Raleway", sans-serif !important;
    --ff-primary-700: #D8392F;
}

